section{
	margin-top:25px;
}

.cardsContainer{
	display:flex;
	overflow-x: auto;
}
.cardsContainer::-webkit-scrollbar {
	margin-top:10px;
	width: 12px;
	height:8px;
	padding-bottom: 105px;
}

.cardsContainer::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

.cardsContainer::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.4);
	outline: unset;
}

.sectionTitle{
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: -.04em;
	text-transform: none;
	margin-bottom: 16px;
	text-transform: uppercase;
}

.green{
	color:#1ed15e;
	border-radius: 25px;
}