.sidebarOption span{
	display:flex;
	align-items:center;
	color:rgb(179,179,179) ;
	height:40px;
	cursor:pointer;
	transition: 200ms color ease-in;
}
.sidebarOption h4{
	font-weight: 500;
}

.sidebarOption.active{
	color:white;
	background-color: #282828;
	border-radius: 4px;
}

.sidebarOption.isPlaylist.active{
	background-color: unset;
	border-radius: unset;
}

.sidebar > hr{
	border:1px solid #282828;
	width:90%;
	margin:10px auto;
}

.sidebarOption:hover{
	color:white;
	cursor:pointer;
}

.sidebarOption__icon{
	padding:0 10px;
}

.sidebarOption > p{
	margin-top:10px;
	margin-left:20px;
	font-size:14px;
}