.sidebar{
	position:fixed;
	color:white;
	width:230px;
	background-color: #000;
	padding:0 10px;
	z-index:200;
	top:0;
	left:0;
	bottom:0;
	width:230px;
}

.sidebar__logo{
	text-align: center;
	height: 65px;
	margin-top: 25px;
	width: 145px;
	padding: 10px;
	margin-bottom: 18px;
}

.sidebar__title{
	margin-left:10px;
	padding:5px;
	font-size:12px;
}
